body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('bg.jpg');
    background-size: cover;
    background-position: center;
    margin: 0; /* Remove default margin */
}

.calculator {
    max-width: 400px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center align contents */
}

.input-group {
    margin-bottom: 20px;
    text-align: left; /* Reset text alignment for input groups */
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input[type="number"] {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.input-group button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.result {
    margin-top: 20px;
}

.result p {
    font-size: 18px;
}

.result span {
    font-weight: bold;
}
